/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small  */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}
/* Medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}